<!DOCTYPE html>

<html>
   <head>
      <title>File Upload and Download</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
      <link rel="shortcut icon" href="/public/myself.jpg" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="title">
        <h1>API Project: File Upload and Download</h1>
        <h4>Please upload text files like txt...</h4>
      </div>

      <div id="root"></div>

      <div class="footer">
        <p>
          by <a href="https://github.com/nujiznaw8240">nujiznaw8240</a>
        </p>
      </div>

      <!-- Use react 18 -->
      <!-- <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script> -->

      <script src="/public/react-bundle.js"></script>
   </body>
</html>
